@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&display=swap');

body{
    font-family: "Ancizar Serif", serif;
    color: var(--text-color);
}

h1, h2, h3, h4, h5, h6{
    color: var(--title-color);
    text-align: center;
}